<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
</head>
<body>


<div style="width: 300px; height: 600px; float: left;border-color: gainsboro;background: gainsboro;display: block">

    <h3 style="text-align: center">A</h3>
    <h3 style="text-align: center">B</h3>
    <h3 style="text-align: center">C</h3>
</div>

<div style="width: 600px; height: 600px;background: palegoldenrod;float: left;display: block">

    <p>
        <h2 style="text-align: center">Title A</h2>

        We make ourselves who we are.

    </p>

    <p>
    <h2 style="text-align: center">Title B</h2>

    We make ourselves who we are.
    </p>
</div>

<div style="width: 100px;height: 100px;background: blueviolet;float: right">


</div>


</body>
</html>