<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


    <form style="height: 200px;width: 300px;border-color: azure;border-width: 2px;
    background-color: aliceblue;display: flex;
    align-items: center;
    align-content: center;justify-content: center" action="/r">
        <div>
            <label>Name:</label> <input id="name" name="name" style="height: 40px;background-color: beige"><br><br>
            <label>City:</label> <input id="city" name="city" style="height: 40px;background-color: beige"><br><br>

            <div style="display: flex;align-items: center; align-content: center;justify-content: center">
                <input type="submit" value="submit">
            </div>

        </div>

    </form>

</body>
</html>